@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');

* {
    margin: 0;
}

body {
    font-family: "Noto Serif TC", "Noto Serif", "sans-serif", "Libre Baskerville";
}


/* ------------RWD用------------ */
/* 1400以上的CSS -----桌機*/

/* 1400以下到993的CSS-----筆電板 */
@media (max-width:1400px) {}

/* 992以下到768的CSS-----平板 */
@media (max-width:992px) {}

/* 767以下的CSS-----手機 */
@media (max-width:767px) {}

/* ------------改變游標------------ */
.cursor {
    width: .7rem;
    height: .7rem;
    background: #7F4E25;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition-property: left, top, transform, opacity;
    transition-duration: .15s, .15s, .3s, .3s;
    transition-timing-function: ease;
    z-index: 999;
}

.link-grow {
    opacity: 0.5;
    transform: scale(6);
}


/* ------------nav------------ */
.mainnav {
    display: block;
    width: 400px;
    height: 100vh;
    background: #cebea7;
    position: fixed;
    z-index: 99;
}

.mainnav h1 {
    display: block;
    width: 200px;
    margin: 70px 0 60px 80px;
}

.navbar {
    padding: 0;
}

.navbar li {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.navbar a {
    text-decoration: none;
    color: #000;
    display: block;
    width: 270px;
    height: 40px;
    margin: 20px 0;
    position: relative;
}

.navbar div {
    position: absolute;
    left: 150px;
}

.navbar div p {
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    line-height: 70%;

}

.navbar div span {
    margin-left: 2px;
    font-size: 12px;
    letter-spacing: 0.2rem;

}

.navbar .line {
    display: block;
    width: 130px;
    height: 1.5px;
    background: #000;
    position: absolute;
    top: 50%;

    transform: scaleX(0);
    left: -150%;

}

.navbar a:hover .line {
    left: 0;
    transform: scaleX(1);
    transition: 0.5s ease;
}

@media (max-width:1400px) {
    .mainnav {
        width: 280px;
    }

    .mainnav h1 {
        width: 135px;
        margin: 55px 0 22px 70px;
    }

    .navbar a {
        margin: 11px 0;
    }

    .navbar div {
        left: 108px;
    }

    .navbar div p {
        font-size: 1rem;
    }

    .navbar div span {
        font-size: 10px;
        letter-spacing: 0.1rem;
    }

    .navbar .line {
        width: 97px;
    }
}

.sns {
    position: absolute;
    left: 150px;
    padding: 0;
}

.sns li {
    list-style: none;
    margin: 30px 0;
}

.facebook {
    border: rgb(63, 63, 63) solid 2px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: block;
    background-repeat: no-repeat;
    background-image: url(./images/FB.svg);
    background-position: center;
    background-size: 15px;
}

.facebook:hover {
    border: #7F4E25 solid 2px;
    background-image: url(./images/FB-W.svg);
    background-color: #7F4E25;
    transition: 0.3s;
}

.instagram {
    border: rgb(63, 63, 63) solid 2px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: block;
    background-repeat: no-repeat;
    background-image: url(./images/IG.svg);
    background-position: center;
    background-size: 15px;
}

.instagram:hover {
    border: #7F4E25 solid 2px;
    background-image: url(./images/IG-W.svg);
    background-color: #7F4E25;
    transition: 0.3s;
}


nav .since {
    position: absolute;
    left: 150px;
    writing-mode: vertical-lr;
    font-size: 12px;
    letter-spacing: 0.1rem;
    margin-top: 155px;
}

@media (max-width:1400px) {
    .sns {
        left: 108px;
    }

    .sns li {
        list-style: none;
        margin: 20px 0;
    }

    nav .since {
        display: none;
    }
}

/* 手機平板hambar */
.hambar {
    display: none;
}

@media (max-width:992px) {
    .hambar {
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background-color: rgba(206, 190, 167, .9);

        box-sizing: border-box;
        overflow: hidden;
        z-index: 29;
    }

    .hambar h1 {
        margin-left: 10px;
        width: 90px;
        height: 90px;
        z-index: 28;

    }

    .hambar h1 img {
        height: 100%;
    }

    .hamburger .line {
        width: 50px;
        height: 5px;
        background-color: #fff;
        display: block;
        margin: 8px auto;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .hamburger:hover {
        cursor: pointer;
    }

    #hamburger-1 {
        z-index: 30;
    }

    #hamburger-1.is-active .line:nth-child(2) {
        opacity: 0;
    }

    #hamburger-1.is-active .line:nth-child(1) {
        -webkit-transform: translateY(13px) rotate(45deg);
        -ms-transform: translateY(13px) rotate(45deg);
        -o-transform: translateY(13px) rotate(45deg);
        transform: translateY(13px) rotate(45deg);
    }

    #hamburger-1.is-active .line:nth-child(3) {
        -webkit-transform: translateY(-13px) rotate(-45deg);
        -ms-transform: translateY(-13px) rotate(-45deg);
        -o-transform: translateY(-13px) rotate(-45deg);
        transform: translateY(-13px) rotate(-45deg);
    }

    .menu {
        background: rgba(44, 23, 6, .95);
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: none;
        z-index: 29;
    }

    .menu ul {
        list-style: none;
        padding: 0;
        width: 250px;
        text-align: center;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .menu ul li {
        margin: 50px 0;
    }

    .menu ul a {
        text-decoration: none;
        color: white;

    }

    .menu a p {
        font-size: 1.3rem;
        letter-spacing: 0.1rem;
        line-height: 70%;
    }

    .menu a span {
        font-size: 12px;
        letter-spacing: 0.2rem;
    }

    .mainnav {
        display: none;
    }
}

@media (max-width:767px) {
    .hambar h1 {
        width: 80px;
        height: 80px;
    }

    .menu a p {
        font-size: 1.1rem;
    }
}

/* ---------------------右側內容區--------------------- */
.content {
    width: calc(100% - 400px);
    right: 0;
    top: 0;

    position: absolute;
}

@media (max-width:1400px) {
    .content {
        width: calc(100% - 280px);
    }
}

@media (max-width:992px) {
    .content {
        width: 100%;
        z-index: -1;
    }
}

/* ------------頁首區------------ */
.other-bn {
    height: 100vh;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.other-bn img {
    width: 100%;
    z-index: -1;
}

.other-bn h1 {
    font-family: 'Hina Mincho', "Noto Serif TC", "Noto Serif", "sans-serif";
    font-weight: normal;
    font-size: 5.5rem;
    letter-spacing: 0.7rem;
    color: #fff;
    opacity: .7;
}

.other-bn h4 {
    font-size: 1.6rem;
    letter-spacing: .2rem;
    color: #fff;
    font-weight: normal;
}

@media (max-width:1400px) {
    .other-bn h1 {
        font-size: 5.1rem;
    }

    .other-bn h4 {
        font-size: 1.3rem;
    }
}

@media (max-width:992px) {
    .other-bn h1 {
        font-size: 3.8em;
        letter-spacing: 0.5rem;
    }

    .other-bn h4 {
        font-size: 1.2rem;
    }
}

@media (max-width:767px) {
    .other-bn h1 {
        font-size: 2em;
        letter-spacing: 0.3rem;
    }
}



.bc-bn {
    background-image: url(./images/bc-bn.jpg);
}

.news-bn {
    background-image: url(./images/news-bn.jpg);
}

.stores-bn {
    background-image: url(./images/stores-bn.jpg);
}

.recruit-bn {
    background-image: url(./images/recruit-bn.jpg);
}

/* ------------主要內容區------------ */
main {
    width: 100%;

    overflow: hidden;
    display: inline-block;

}


/* ------------頁尾區------------ */
footer {
    width: 100%;
    box-sizing: border-box;
    display: block;

    position: relative;
}

footer .footer-line {
    height: 70px;
    width: 1px;
    background: #000;

    position: absolute;
    top: -35px;
    left: 0;
    right: 0;
    margin: auto;
}

footer #top {
    position: absolute;
    top: 30%;
    right: 7%;
    margin: auto;

    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px #000 solid;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

footer #top span {
    font-size: 1.4rem;
    text-align: center;
    font-family: "Noto Serif TC";
}

footer #top:hover .footer-line {
    transform: translateY(-10px);
    transition: .3s;
}

.footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
}

.footer-wrapper h1 {
    display: block;
    width: 250px;
    margin: 0 20px;
}

.footer-wrapper h1 img {
    width: 100%;
}

.footer-wrapper p {
    margin-left: 30px;
    margin-bottom: 3%;
    font-size: 1.2rem;
}

.footer-wrapper a {
    margin-left: 30px;
    display: block;
    width: 350px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    background: #7F4E25;
    text-decoration: none;
    border: transparent 1px solid;
}

.footer-wrapper a:hover {
    border: #7F4E25 1px solid;
    color: #7F4E25;
    background: transparent;
    transition: .3s;
}

.footer-text {
    margin-right: 240px;
    width: 25vw;
}

footer small {
    padding-bottom: 20px;
    letter-spacing: 0.1rem;
    display: block;
    text-align: center;
}

@media (max-width:1400px) {
    .footer-wrapper h1 {
        width: 135px;
    }

    .footer-text {
        margin-right: 230px;
        width: 30vw;
    }

    .footer-wrapper p {
        font-size: 1rem;
        margin-bottom: 2%;
    }

    .footer-wrapper {
        margin-bottom: 10px;
    }

    footer #top {
        top: 20%;
    }
}

@media (max-width:992px) {
    .footer-wrapper h1 {
        margin: 0;
    }

    .footer-wrapper {
        flex-direction: column;
        padding-top: 80px;
    }

    .footer-wrapper p {
        margin-left: 0;
    }

    .footer-wrapper a {
        margin-left: 0;
    }

    .footer-text {
        width: 53vw;
        margin-right: 0;
        padding: 1% 0;
    }

    footer #top {
        left: 0;
        right: 0;
        top: -45px;
    }
}

@media (max-width:767px) {
    footer #top {
        width: 80px;
        height: 80px;
        top: -30px;
    }

    footer .footer-line {
        top: -45px;
    }

    footer #top span {
        font-size: 1.2rem;
    }

    .footer-text {
        width: 100%;
        padding: 5% 0;
    }

    .footer-wrapper {
        padding-left: 0;
    }

    .footer-wrapper p {
        font-size: 16px;
        margin-left: 40px;
    }

    .footer-wrapper a {
        width: 80vw;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        margin: 0 auto;
    }

    footer small {
        font-size: 14px;
    }
}


/*  --------------------BREAD&CAKE-------------------- */
.bc-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;

    padding: 10vh 6vw;
    box-sizing: border-box;
    width: 100%;
}

.bc-wrapper div {
    height: 350px;
    width: 220px;
    padding: 10px 40px 20vh 40px;

    overflow: hidden;
}

.bc-wrapper div h4 {
    margin-top: 0.3rem;
    font-weight: 400;
    font-size: 1.4375rem;
    margin-top: 0rem;
}

.bc-wrapper div p {
    padding-left: 0.1rem;
    color: #7F4E25;
    margin-bottom: 0.2rem;
}

.bc-wrapper div img {
    height: 100%;
    width: auto;
    border-radius: 100px 0 0 0;
}

@media (max-width:1400px) {
    .bc-wrapper div {
        height: 300px;
        width: 220px;
        padding: 10px 15px 160px 15px;
    }

    .bc-wrapper div h4 {
        font-size: 1.2rem;
    }
}

@media (max-width:992px) {
    .bc-wrapper div {
        height: 260px;
        width: 175px;
    }

    .bc-wrapper div img {
        border-radius: 80px 0 0 0;
    }
}

@media (max-width:767px) {
    .bc-wrapper div {
        height: 170px;
        width: 120px;
        padding: 10px 15px 94px 15px;
    }

    .bc-wrapper div h4 {
        font-size: 18px;
    }

    .bc-wrapper div p {
        font-size: 16px;
    }
}

/*  --------------------NEWS-------------------- */
.news-wrapper {
    width: 100%;
    padding: 15vh 15vw;
    box-sizing: border-box;
}

.news-wrapper li {
    display: flex;
    flex-direction: column;
    align-items: start;
    border-bottom: 1px solid #000;
    margin-bottom: 60px;
    margin-top: 10px;

    cursor: pointer;
}

.news-wrapper li:hover {
    opacity: .5;
}

.news-wrapper li h4 {
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    margin-bottom: 40px;
}

.news-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    box-sizing: border-box;
}

.news-wrapper li span {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    padding: 3px 5px;
    color: #fff;
}

.news-wrapper li:first-child span {
    background: #7F4E25;
}

.news-wrapper li:nth-child(2) span {
    background: #96765F;
}

.news-wrapper li:nth-child(3) span {
    background: #cebea7;
}

.news-wrapper li:nth-child(4) span {
    background: #7F4E25;
}

.news-wrapper li:nth-child(5) span {
    background: #96765F;
}


.news-wrapper li:last-child span {
    background: #cebea7;
}

.news-wrapper li p {
    font-size: 1.2rem;
    margin-left: 5px;
}

@media (max-width:1400px) {
    .news-wrapper li h4 {
        font-size: 1.2rem;
        margin-bottom: 35px;
    }

    .news-wrapper li span {
        font-size: 1rem;
    }

    .news-wrapper li p {
        font-size: 1rem;
    }
}

@media (max-width:767px) {
    .news-wrapper {
        padding: 14vh 8vw;
    }

    .news-wrapper ul {
        padding-inline-start: 10px;
    }

    .news-wrapper li {
        margin-bottom: 40px;
    }

    .news-wrapper li h4 {
        font-size: 1rem;
        margin-bottom: 18px;
    }

    .news-wrapper li span {
        font-size: 14px;
    }

    .news-wrapper li p {
        font-size: 14px;
    }
}

/*  --------------------STORES-------------------- */
.stores-wrapper {
    width: 100%;
    padding: 15vh 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.st-tab>input,
.st-tab section>div {
    display: none;
}

#tab1:checked~section .tab1,
#tab2:checked~section .tab2,
#tab3:checked~section .tab3,
#tab4:checked~section .tab4 {
    display: block;
}

#tab1:checked~nav .tab1,
#tab2:checked~nav .tab2,
#tab3:checked~nav .tab3,
#tab4:checked~nav .tab4 {
    color: red;
}

.st-tab {
    width: 100%;
    width: 920px;
    margin: 0 auto;
}

.st-tab ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.st-tab ul li label {
    float: left;
    display: block;
    width: 180px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border: 1px solid #7F4E25;
    margin: 0 25px;
    margin-bottom: 50px;
    background: #7F4E25;
    color: #fff;

    box-sizing: border-box;
}

.st-tab ul li label:hover {
    background: rgba(127, 78, 37, .8);
}

.st-tab section {
    clear: both;
}

#tab1:checked~nav .tab1 label,
#tab2:checked~nav .tab2 label,
#tab3:checked~nav .tab3 label,
#tab4:checked~nav .tab4 label {
    background: white;
    color: #7F4E25;
    position: relative;
}

.store-content {
    margin: 0 20px;
    padding: 60px 0;
    display: flex;
    align-items: center;
    box-sizing: border-box;

    position: relative;
}

.store-content:after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    transform: scaleX(60%);
    background: #7c8690;
    /* left: 50%; */
    bottom: -1px;
}


.st-tab .store-name {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.st-tab .store-name img {
    width: 2rem;
}

.st-tab .store-name h4 {
    margin: 0;
    margin-left: 0.7rem;
    padding-bottom: 0.2rem;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    color: #7F4E25;
}


.st-tab .s-item {
    display: flex;
    flex-direction: row;
}

.st-tab .store-info {
    width: 450px;
    margin-left: 45px;
}

.st-tab .store-info dl {
    padding-left: 10px;
    margin: 17px 0;
}

.st-tab .store-info dl dt {
    width: 125px;
    font-size: 1.1rem;
    letter-spacing: 0.3em;
    font-weight: bold;
}

.st-tab .store-info dl dd {
    width: calc(100% - 160px);
    font-size: 1rem;
    margin-left: 40px;
}

@media (max-width:1400px) {
    .st-tab {
        width: 720px;
    }

    .store-content {
        padding: 85px 0;
    }

    .map iframe {
        width: 325px;
        height: 420px;
    }

    .st-tab ul li label {
        width: 140px;
        height: 50px;
        line-height: 50px;
        margin: 0 20px;
    }

    .st-tab .store-name h4 {
        font-size: 1.6rem;
        letter-spacing: 0.2rem;
    }

    .st-tab .store-info {
        width: 75vw;
    }

    .st-tab .s-item {
        flex-direction: column;
    }

    .st-tab .store-info dl {
        margin: 25px 0;
    }

    .st-tab .store-info dl dd {
        width: auto;
    }

}

@media (max-width:992px) {
    .store-content {
        padding: 80px 0;
        flex-direction: column-reverse;
    }

    .map iframe {
        width: 420px;
        height: 325px;
    }

    .st-tab .store-info {
        align-self: center;
        margin-left: 0;
        width: 57vw;
    }

    .st-tab .s-item {
        flex-direction: row;
    }
}

@media (max-width:767px) {
    .stores-wrapper {
        padding: 6vh 0;
    }

    .st-tab {
        width: 320px;
        margin-bottom: 50px;
    }

    .st-tab ul li label {
        width: 70px;
        height: 30px;
        line-height: 30px;
        margin: 0 5px;
        font-size: 14px;
    }

    .store-content {
        padding: 50px 0 30px 0;
    }

    .map iframe {
        width: 300px;
        height: 300px;
    }

    .st-tab .store-name img {
        width: 1.3rem;
    }

    .st-tab .store-name h4 {
        font-size: 1.3rem;
        letter-spacing: 0.2rem;
    }

    .st-tab .s-item {
        flex-direction: column;
    }

    .st-tab .store-info {
        width: 75vw;
    }

    .st-tab .store-info dl {
        margin: 16px 0;
    }

    .st-tab .store-info dl dt {
        font-size: 18px;
        letter-spacing: 0.3em;
    }

    .st-tab .store-info dl dd {
        font-size: 16px;
        margin-left: 24px;
        margin-left: 24px;
    }
}

/*  --------------------RECRUIT-------------------- */
.recruit-wrapper {
    width: 100%;
    padding: 15vh 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
}

.founder {
    width: 420px;
    height: 570px;
}

.founder img {
    width: 100%;
}

.founder-message {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 28vw;
    margin-left: 5vw;
}

.founder-message strong {
    font-size: 2rem;
    letter-spacing: 0.3rem;
    margin-bottom: 50px;
    display: inline-block;
    line-height: 3.5rem;
}

.founder-message p {
    font-size: 1.2rem;
    line-height: 2.5rem;
}

.founder-sign {
    margin-top: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.founder-sign p {
    margin-right: 5%;
    font-size: 1.2rem;
    line-height: 2.5rem;
}

.founder-sign img {
    width: 350px;
}

@media (max-width:1400px) {
    .founder {
        width: 300px;
        height: 342px;
    }

    .founder-message {
        width: 29vw;
    }

    .founder-message strong {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    .founder-message p {
        font-size: 1rem;
        line-height: 2rem;
    }

    .founder-sign img {
        width: 210px;
    }

}

@media (max-width:992px) {
    .message {
        flex-direction: column;
    }

    .founder-message {
        width: 60vw;
        margin: 0;
        margin-top: 55px;
    }

    .founder-message strong {
        font-size: 2rem;
        line-height: 2.8rem;
    }

    .founder-message p {
        font-size: 1.1rem;
        line-height: 2.1rem;
    }
}

@media (max-width:767px) {
    .founder {
        width: 250px;
        height: 285px;
    }

    .founder-message {
        width: 80vw;
    }

    .founder-message strong {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .founder-message p {
        font-size: 1rem;
        line-height: 2rem;
    }
}

.opening {
    box-sizing: border-box;
    margin-top: 13vh;
    position: relative;
    color: #7F4E25;
    text-align: center;
    /* display: flex; */
}

.opening::before {
    content: "";
    background-color: #7F4E25;
    height: 70px;
    width: 2px;
    position: absolute;
    left: 50%;
    /* top: 0; */
    top: -70%;
}

.opening h4 {
    font-size: 2.7rem;
    letter-spacing: 0.5rem;
}

.opening p {
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
    font-family: 'Hina Mincho', "Noto Serif TC", "Noto Serif", "sans-serif";
}

@media (max-width:1400px) {
    .opening {
        margin-top: 19vh;
    }

    .opening h4 {
        font-size: 2.3rem;
        letter-spacing: 0.3rem;
    }

    .opening p {
        font-size: 1.2rem;
        letter-spacing: 0.2rem;
    }
}

@media (max-width:767px) {
    .opening::before {
        top: -92%;
    }

    .opening h4 {
        font-size: 1.8rem;
        letter-spacing: 0.2rem;
    }

    .opening p {
        font-size: 1.1rem;
        letter-spacing: 0.2rem;
    }

}


.pc-tab>input,
.pc-tab section>div {
    display: none;
}

#tabA:checked~section .tabA,
#tabB:checked~section .tabB {
    display: block;
}

#tabA:checked~nav .tabA,
#tabB:checked~nav .tabB {
    color: red;
}

.pc-tab {
    width: 100%;
    max-width: 650px;
    margin: 10vh auto;
}

.pc-tab ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pc-tab ul li label {
    float: left;
    display: block;
    width: 325px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    border: 1px solid #7F4E25;
    border-bottom: 0;
    background: #7F4E25;
    color: #fff;
    box-sizing: border-box;
}

.pc-tab ul li label:hover {
    background: rgba(127, 78, 37, .8);
}

.pc-tab section {
    clear: both;
}


#tabA:checked~nav .tabA label,
#tabB:checked~nav .tabB label {
    background: white;
    color: #7F4E25;
    position: relative;
}

#tabA:checked~nav .tabA label:after,
#tabB:checked~nav .tabB label:after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #ffffff;
    left: 0;
    bottom: -1px;
    box-sizing: border-box;
}


.t-item {
    display: flex;
}


.openingpic {
    border-radius: 50%;
    width: 350px;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    margin: 50px 0 60px 170px;
}

@media (max-width:1400px) {
    .openingpic {
        width: 200px;
        height: 200px;
        margin: 50px 0 60px 225px;
    }
}

@media (max-width:992px) {
    .openingpic {
        margin: 50px 0 60px 150px;
    }
}

@media (max-width:767px) {
    .openingpic {
        width: 200px;
        height: 200px;
        margin: 30px 0 50px 60px;
    }
}


.pc-tab section .tabA .baker {
    background-image: url(./images/baker.svg);
    background-color: #dfe5ee;
}


.pc-tab section .tabB .clerk {
    background-image: url(./images/clerk.svg);
    background-color: #efe2dd;
}

.pc-tab section {
    padding-top: 50px;
    color: black;
}

.pc-tab section dl {
    padding: 30px;
    border-bottom: 1px solid #7c8690;
}

.pc-tab section dl dt {
    width: 200px;
    font-size: 1.2rem;
    letter-spacing: 0.16em;
    font-weight: bold;
}

.pc-tab section dl dd {
    width: calc(100% - 150px);
    font-size: 1.1rem;
}

.recruit-wrapper a {
    display: block;
    width: 75%;
    height: 350px;
    color: #fff;
    background-color: #7F4E25;

    position: relative;
    background-image: url(./images/apply.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    opacity: 0.9;
}

.apply {
    margin: 3% 4%;
    border: 1px #fff solid;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.apply p {
    font-size: 2.7rem;
    letter-spacing: 0.5rem;
    text-decoration: none;
    margin-right: 10%;
}

.apply .r-circle {
    position: relative;
    border-radius: 50%;
    background-color: #fff;
    width: 10px;
    height: 10px;
}


.apply .r-circle::after {
    content: "";
    position: absolute;
    top: calc(50% - 2.7rem);
    left: calc(50% - 2.7rem);

    border-radius: 50%;
    width: 5.4rem;
    height: 5.4rem;
    border: 1px #fff solid;
    box-sizing: border-box;
    animation: r-circle 2s ease infinite;
}

@keyframes r-circle {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

@media (max-width:1400px) {
    .recruit-wrapper a {
        background-position-x: 66%;
    }

    .apply p {
        font-size: 2.3rem;
    }
}

@media (max-width:992px) {
    .pc-tab {
        max-width: 500px;
    }

    .pc-tab ul li label {
        width: 250px;
    }

    .apply p {
        font-size: 1.8rem;
    }
}

@media (max-width:767px) {
    .pc-tab {
        max-width: 320px;
    }

    .pc-tab ul li label {
        width: 160px;
        font-size: 18px;
        height: 50px;
        line-height: 50px;
    }

    .t-item {
        flex-direction: column;
    }

    .pc-tab section dl {
        padding: 21px 60px;
    }

    .pc-tab section dl dt {
        font-size: 20px;
    }

    .pc-tab section dl dd {
        width: 60vw;
        font-size: 18px;
    }

    .recruit-wrapper a {
        width: 100%;
        height: 250px;
    }

    .apply p {
        font-size: 1.2rem;
        letter-spacing: 0.3rem;
    }

    .apply .r-circle {
        width: 7px;
        height: 7px;
    }

    .apply .r-circle::after {
        top: calc(50% - 1.3rem);
        left: calc(50% - 1.3rem);
        width: 2.6rem;
        height: 2.6rem;
    }
    

}


/* 反白顏色 */
::selection {
    color: white;
    background: #7F4E25;
}